.ui-corner-all{"data-overlay-theme" => theme(:about_dialog_overlay), "data-role" => "dialog", "data-theme" => theme(:about_dialog)}
  .ui-corner-top{"data-role" => "header", "data-theme" => theme(:about_header)}
    %h1 Información
  .ui-corner-bottom.ui-content{"data-role" => "content", "data-theme" => theme(:about_content)}
    %p
      Denuncia Ciudadana es una aplicación móvil desarrollada sobre la web que permite el envío de denuncias ciudadanas, de forma anónima, con el único requisito de contar con una dirección de e - mail.
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta imperdiet. Aenean in tellus sapien. Etiam tristique augue non feugiat elementum. Suspendisse sit amet egestas quam, non lacinia sapien. Integer tristique imperdiet tortor, sit amet pellentesque lectus convallis quis. Phasellus mollis mauris eu ultricies imperdiet
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta imperdiet. Aenean in tellus sapien. Etiam tristique augue non feugiat elementum. Suspendisse sit amet egestas quam, non lacinia sapien. Integer tristique imperdiet tortor, sit amet pellentesque lectus convallis quis. Phasellus mollis mauris eu ultricies imperdiet
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => theme(:about_cerrar), :href => "#"} Cerrar
