DEPENDENCIA

SECRETARÍA

Localidad, Municipio
= Date.today.strftime "%d de %B de %Y"

Denuncia Ciudadana

El número de folio asignado a tu Queja y/o Denuncia es:
= "%010d" % @denuncia.id

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta imperdiet. Aenean in tellus sapien. Etiam tristique augue non feugiat elementum. Suspendisse sit amet egestas quam, non lacinia sapien. Integer tristique imperdiet tortor, sit amet pellentesque lectus convallis quis. Phasellus mollis mauris eu ultricies imperdiet.
