/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */

.parrafo{
  text-align: justify;
}

#cabecera{
  background: url('dependencia.png') no-repeat;
  height: 100px;
}

div[data-role="content"]{
  background-image: url('watermark.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#desarrollado{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: .7em;
}
